<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard2</title>
    <link rel="icon" href="static/favicon.ico">
    <style>
        body{
            font-family:  Sitka heading;
 }
 h1{
    padding-top: 100px;
 }
    </style>
</head>
<body style="background-color: #5588A3;"><center>
    <h1>HEY WELCOME </h1>
</body></center>
</html>